/*font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;*/

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Merriweather", serif;
  font-size: 14px;
  line-height: 1.5;
  color: black;
}
.new {
  border-top: 2px dotted gray;
}
.section-subtitle {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;

  color: #5c5470;
}
img {
  width: auto;
  height: 200px;
  margin: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}
header {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
main {
  margin: 0 50px;
}
footer {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: #393e46;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
.nav-link:hover {
  color: #f96d00;
  text-decoration: underline;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section {
  width: 50%;
  border-bottom: 1px solid #672f2f;
}
.title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #352f44;
}
.section-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #5c5470;
}

.section-profile-title {
  text-align: center;
}
a {
  text-decoration: none;
  color: #430f58;
  transition: color 0.5s;
}
a:hover {
  color: #6643b5;
  text-decoration: underline;
}
.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.project {
  color: #c24d2c;
  font-weight: bold;
}
.wrapper-footer {
  padding: 2px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-school {
  width: 73px;
  height: 26px;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
